body {
  background: linear-gradient(
        to right,
        lightblue 0%,
        lightblue 50%,
        black 50%,
        black 100%
    );
}

.whoiam-title {
    position: absolute;
    top: 3%;
    left: 20%;
    color: black;
}

.img_deg {
    display: block;
    border: 5px solid lightblue;
    float: right;
}

.pos_cen {
    position: absolute;
    left: 5%;
    right: 10%;
    top: 10%;
}

.resume-section {
    display: absolute;
    top: 110%;
    left: 70%;
}

.resume-img {
    display: block;
    border: 5px solid black;
}

.resume-title {
    float: right;
    position: absolute;
    top: 45%;       
    left: 85%;      
    transform: translateX(-50%);
    color: lightblue;
}

.otherprojects-title {
    position: absolute;
    top: 85%;       
    left: 25%;      
    transform: translateX(-50%);
    color: black;
}

.otherprojects2-title {
    float: right;
    position: absolute;
    top: 85%;       
    left: 82.5%;      
    transform: translateX(-50%);
    color: lightblue;
}

.GitHub-Link {
  color: lightblue;  
  text-decoration: none;
}

.GitHub-Link:visited {
  color: lightblue;
}

.GitHub-Link:hover,
.GitHub-Link:active,
.GitHub-Link:focus {
  color: lightblue;
  text-decoration: underline;  /* optional */
}
